<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="acServer_port" value="12000"/>
    <add key="plugin_port" value="11000"/>
    <add key="ac_server_directory" value="C:\Program Files (x86)\Steam\SteamApps\common\assettocorsa\server"/>
    <add key="server_trust_token" value=""/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILiveDataDump" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:805/minorating" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILiveDataDump" contract="minoRatingServer.ILiveDataDump"
                name="BasicHttpBinding_ILiveDataDump" />
        </client>
    </system.serviceModel>
</configuration>