<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <!-- AcServer/proxy listening port like defined in UDP_PLUGIN_LOCAL_PORT. Uncomment to override it (Proxy/Relay), otherwise it will be read from the config -->
    <!--<add key="ac_server_port" value="11000"/>-->
    
    <!--<add key="ac_server_host" value="127.0.0.1"/>-->
    
    <!-- Plugin listening port towards acServer/proxy like defined in UDP_PLUGIN_ADDRESS=12000 (without 127.0.0.1, port number only) -->
    <!-- Uncomment to override it (Proxy/Relay), otherwise it will be read from the config -->
    <!--<add key="plugin_port" value="12000"/>-->
    
    <!--<add key="max_clients" value="24"/>-->
    <!--<add key="admin_password" value=""/>-->

    <add key="load_server_cfg" value="1"/>
    <!-- 0=off, 1=on, if on, max_clients and admin_password are overwritten with the values from the server cfg -->

    <add key="ac_server_directory" value="C:\Program Files (x86)\Steam\SteamApps\common\assettocorsa\server"/>
    <add key="ac_cfg_directory" value="cfg"/>

    <add key="start_new_log_on_new_session" value="0"/>
    <add key="log_server_requests" value="1"/>

    <!--<add key="session_report_handlers" value="acPlugins4net.helpers.XmlSessionReportWriter, acPlugins4net"/>-->

    <!--<add key="internal_plugins" value="OtherPluginNamespace.OtherPluginType, OtherPluginDLL"/>-->
    <!--<add key="external_plugins" value="OtherPluginName, 11001, 127.0.0.1:12001"/>-->
  </appSettings>
</configuration>
